@model e_ticaret_web_proje.Models.Siniflar.Kategori
@{
    ViewBag.Title = "KategoriEkle";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}
<br />
<h2>Yeni Kategori Sayfası</h2>
<br />
<form class="form-group" method="post">
    @Html.LabelFor(x => x.KategoriAd) @*veri tabanındaki tablonun ismini getirdik*@
    @Html.TextBoxFor(x => x.KategoriAd, new { @class = "form-control" }) @*textboxu getirdik*@
    <br />
    <button class="btn btn-info">Kaydet</button> @*buton getirdim*@
</form>

